<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <EventHubLoadTest.Properties.Settings>
      <setting name="EventHubConnectionString" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Endpoint=sb://guyehloadtesteu.servicebus.windows.net/;SharedAccessKeyName=send;SharedAccessKey=BwmCpdUDinQa0tNKaE17J8spih5Pro/25vM3pvN0lEQ=;EntityPath=loadtest</value>
      </setting>
      <setting name="StorageConnectionString" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>DefaultEndpointsProtocol=https;AccountName=pocdwsa;AccountKey=3AgbxAfR5NIPqlVp6fFtqGjQQQcKXfBQknSt2MXfr/yGfqvWjasJcc96oLMtmBhXCalcTq5b25Ay1m2m6F2WuQ==</value>
      </setting>
      <setting name="CachePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>c:\temp</value>
      </setting>
      <setting name="StorageContainter" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>dwjsononeday</value>
      </setting>
      <setting name="StorageDirectory" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>2017-01/2017-01-04</value>
      </setting>
    </EventHubLoadTest.Properties.Settings>
  </applicationSettings>
</configuration>